.container {
  color: white;
  width: 100vw;
  height: 100vh;
}

.collection {
  border: none;
}

#backBtn {
  margin-left: 3px;
}

#scoreBtn {
  margin-left: 10.5px;
}
#clearBtn {
  margin-right: 10.5px;
  float: right;
}

.card-title {
  color: #4fc
}
#plus-minus {
  color: white;
}


.square {
  margin: 2px;
  color: #122;
  text-align: center;
}
.ace {
  background-color: #37c
}
.birdie {
  background-color:#0d7
}
.par {
  background-color: #999
}
.bog {
  background-color: #f00
}
.doublebog {
  background-color: #c5d
}

.card-content {
  background-color: #036
}




